################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LettersMixed.cpp
/x64
/1.txt
